# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables file (contains secrets)
config/.env

# Virtual environments
venv/
env/

tests/
build/
dist

# data folders
output/
for_processing/

# OS files
.DS_Store
Thumbs.db

*.exe
*.spec
*.zip
*.xlsx
*.db
tests/
test.py
slack_channel_ids.txt
slack_user_ids.txt
*.json
last_db_backup_run_date.txt